/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem; 
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

i{
    font-size: var(--font-size-md);
}
/* Theme color change */
body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-dark-color: var(--secondary-background-color);
    --transparent-light-color: rgba(0,0,0,.1);
}
/* Reusable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    border-radius: 15px;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.screen-sm-hidden{
    display: none;
}
/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
    border-radius: 15px;
}

.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color:var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
    border-radius: 15px;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}

.list-link.current{
    color: var(--light-color);
}

.close-menu-icon{
    display: none;
}

.btn{
    cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span{
    color: var(--light-color);
}

.moon-icon{
    display: none;
}

.light-theme .sun-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
}
/* Header JavaScript Styles */
.header.activated{
    box-shadow: 0 1px .5rem var(--transparent-light-color);
}

.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
    display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
    display: block;
}

.section {
  position: relative;
}

#about {
  height: 100%;
  background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?cs=srgb&dl=pexels-rovenimagescom-949587.jpg&fm=jpg&w=1280&h=853');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


}

#about .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#about .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: white;
  font-size: 3rem;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.event-intro {
    background-image: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?cs=srgb&dl=pexels-jakub-novacek-924824.jpg&fm=jpg&w=1280&h=1920');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

  
.event-title {
    text-align: center;
    padding-left: 30px;
    color: white;
}

.events-title {
    text-align: center;
    padding-left: 30px;
    color: white;
    font-size: 30px;
    text-decoration: underline;
}
  
.event-content {
    text-align: center;
    max-width: 600px;
    margin-top: 20px;
    margin-left: 120px;
    color: white;
}

.slideshow-container {
    height: 100%;
    width: 100%;
    position:relative;
    justify-content: center;
    align-items: center;
}
  
.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}
  
.slide {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:whitesmoke;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;  
}
  
.prev:hover, .next:hover {
    background-color: green;
}


.contact-section {
  position: relative;
  background-image: url('https://images.pexels.com/photos/1542252/pexels-photo-1542252.jpeg?cs=srgb&dl=pexels-kerde-severin-1542252.jpg&fm=jpg&w=1280&h=853');
  background-size: cover;
  background-position: center;
}

.contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-content {
  position:relative;
  z-index: 2;
  padding: 40px;
  text-align: center;
  color: #fff;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  margin: 0 10px;
  transition: transform 0.3s ease-out;
}

.contact-icon:hover {
  transform: translateY(-5px) scale(1.1);
}

.contact-icon i {
  font-size: 24px;
}

.contact-handle {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
/* Media queries for mobile phones */

/* Small mobile phones (e.g., iPhone SE) */
@media (max-width: 320px) {
    /* CSS rules for small mobile phones */
    .contact-icon{
        font-size: 18px;
    }
    .contact-handle{
        font-size: 9px;
    }
     #header {
            height: 50px; /* Adjust the height as desired */
          }
    .logo{
        font-size: 15px;
    }
  
    .event-title {
      margin-right: 20px;
      font-size: 10px;
  }
    
    .event-content {
      width: 50%;
      font-size: 11px;
      margin-top: 20px;
  }
  
   .events-title{
      font-size: 15px;
   }
   .contact-icons {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }

  .contact-icon .contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }

  .contact-icon .contact-link i {
    margin-right: 10px;
  }
  .contact-handle {
    font-size: 12px;
  }
}
/* Mobile phones in portrait orientation (e.g., iPhone 6/7/8, Galaxy S9) */
@media (min-width: 321px) and (max-width: 480px) {
    /* CSS rules for mobile phones in portrait orientation */
    .contact-icon{
        font-size: 18px;
    }
    .contact-handle{
        font-size: 9px;
    }
     #header {
            height: 50px; /* Adjust the height as desired */
          }
    .logo{
        font-size: 15px;
    }
  
    .event-title {
      margin-right: 20px;
      font-size: 10px;
  }
    
    .event-content {
      width: 50%;
      font-size: 12px;
      margin-top: 20px;
  }
  
   .events-title{
      font-size: 15px;
   }
   .contact-icons {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }

  .contact-icon .contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }

  .contact-icon .contact-link i {
    margin-right: 10px;
  }
  .contact-handle {
    font-size: 12px;
  }
}
/* Mobile phones in landscape orientation (e.g., iPhone 6/7/8 Plus, Galaxy S9 Plus) */
@media (min-width: 481px) and (max-width: 767px) {
    /* CSS rules for mobile phones in landscape orientation */
    .contact-icon{
        font-size: 18px;
    }
    .contact-handle{
        font-size: 9px;
    }
     #header {
            height: 50px; /* Adjust the height as desired */
          }
    .logo{
        font-size: 15px;
    }
  
    .event-title {
      padding-top: 5%;
      margin-right: 20px;
      font-size: 13px;
  }
    
    .event-content {
      width: 70%;
      font-size: 11px;
      margin-top: 20px;
  }
  
   .events-title{
      font-size: 15px;
   }
   .contact-icons {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }

  .contact-icon .contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }

  .contact-icon .contact-link i {
    margin-right: 10px;
  }
  .contact-handle {
    font-size: 14px;
  }
}
/* Media queries for tablets */

/* Small tablets (e.g., iPad Mini) */
@media (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for small tablets */
    .contact-icon{
        font-size: 18px;
    }
    .contact-handle{
        font-size: 9px;
    }
     #header {
            height: 50px; /* Adjust the height as desired */
          }
    .logo{
        font-size: 15px;
    }
  
    .event-title {
      padding-top: 5%;
      margin-right: 20px;
      font-size: 15px;
  }
    
    .event-content {
      width: 70%;
      font-size: 13px;
      margin-top: 20px;
  }
  
   .events-title{
      font-size: 15px;
   }
   .contact-icons {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }

  .contact-icon .contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }

  .contact-icon .contact-link i {
    margin-right: 10px;
  }
  .contact-handle {
    font-size: 15px;
  }
}
/* Medium tablets (e.g., iPad Air, iPad Pro 10.5") */
@media (min-width: 1024px) and (max-width: 1365px) {
    /* CSS rules for medium tablets */
    .contact-icon{
        font-size: 18px;
    }
    .contact-handle{
        font-size: 9px;
    }
     #header {
            height: 50px; /* Adjust the height as desired */
          }
    .logo{
        font-size: 15px;
    }
  
    .event-title {
      padding-top: 5%;
      margin-right: 20px;
      font-size: 20px;
  }
    
    .event-content {
      width: 100%;
      font-size: 18px;
      margin-top: 20px;
  }
  
   .events-title{
      font-size: 15px;
   }
   .contact-handle {
    font-size: 18px;
  }
}
/* Large tablets (e.g., iPad Pro 11", 12.9") */
@media (min-width: 1366px) {
    /* CSS rules for large tablets */
    .contact-handle {
        font-size: 21px;
      }
    .event-content {
        font-size: 22px;
    }
    .event-title {
        font-size: 28px;
    }
}
